<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="justify-between">
    <a class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" style="display:block;text-align:center;font-weight:300" href="{{ .Site.BaseURL }}" >
      Copyright &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
    </a>
    <div style="text-align:center">
      {{ partial "social-follow.html" . }}
    </div>
  </div>
</footer>
