/* Main Site CSS */

.measure-wide {
  max-width: 1000px;
}

.pgallery {
  display: block;
}

.pgallery .yt {
  display: inline-block;
  width: 350px;
  padding: 4px;
  margin: 8px;
}

.feature-img {
    max-width: 350px;
    text-align: center;
    display: block;
    margin: 1em auto;
}

.feature-img img {
  border-radius: 400px;
}

input:hover {
  cursor: pointer;
}

.lr-slide {
  display: flex;
  margin-bottom: 6rem;
}

.l-subslide, .r-subslide {
  text-align: left;
  font-size: 1.25rem;
  max-width: 50%;
  padding: 8px;
}

/* Locks the cover background from moving */
.bg-fixed {
  background-attachment: fixed;
}
