/* Gallery CSS */

.gallery {
  display: block;
}

.gallery img {
  width: 275px;
  height: 175px;
  display: inline-block;
  transition: 0.3s;
}

.gallery img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px #000;
}

#overlay.hidden {
  display: none !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vw;
  background: #000;
  z-index: 100;
}

#overlay img {
  opacity: 1;
  max-height: 85vh;
  display: block;
  margin: 8px auto;
  padding: 8px;
}

#overlay a {
  text-align: center;
  font-size: 28px;
  display: block;
  color: #fff;
  transition: 0.3s;
}

#overlay a:hover {
  color: #ccc;
}
