/* Gallery CSS */

.gallery {
  display: block;
  text-align: center;
}

.gallery img {
  width: 275px;
  /*height: 175px;*/
  display: inline-block;
  transition: 0.3s;
}

.gallery img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px #000;
}

#overlay.hidden {
  display: none !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
}

#overlay img {
  opacity: 1;
  max-height: 85vh;
  display: block;
  margin: 8px auto;
  padding: 8px;
}

#overlay input {
  text-align: center;
  font-size: 28px;
  display: block;
  color: #fff;
  transition: 0.3s;
  margin: 0 auto;
  background: none;
  border-radius: 8px;
  border-style: solid;
}

#overlay input:hover {
  color: #6cf;
  border-color: #6cf;
}
